# Application

APP_URL="http://localhost:8001/"
#Gemini URL
GEMINI_API_KEY=""

# Secret key of token

API_SECRET_KEY=""

API_ACCESS_KEY=""


# SES EMAILS

AWS_ACCES_KEY_SES=""

AWS_SECRET_KEY_SES=""



# S3

AWS_ACCES_KEY_S3=""

AWS_SECRET_KEY_S3=""



URL_IMAGES=""


